<ul class="ui relaxed list">
    {% for label, value in details  %}
        {% if value is not empty %}
            <li>
                <span class="label">{{ label|replace({'_': ' '})|capitalize }}</span>:
                {% if value is iterable %}
                    {% include '@MonsieurBizSyliusOrderHistoryPlugin/Admin/Order/History/Event/_details.html.twig' with {details: value} %}
                {% else %}
                    {{ value }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
